body{
    max-width: 1062px;
    width: 100%;
    margin: auto;
    background: url('./img/background\ 1.png') no-repeat center;
    height: 100%;
    color: #141313;
}
.main-text{
    font-weight: 500;
    font-size:  50px;
    line-height: 70px;
    text-decoration: none;
    color: #15042b}
    .main-texts{
        font-weight: 500;
    font-size:  50px;
    line-height: 50px;
    text-decoration: none;
    color: #15042b;}
    .main-textt{
    font-weight: 500;
    font-size:  40px;
    line-height: 100px;
    text-decoration: none;
    color: #15042b;}
    
